<!---- 
<h3>Welcome to Rails Application.</h3>
<%= button_to 'Sign Out',  destroy_user_session_path, class: 'btn btn-danger rounded-0',  method: :delete %>

<div id="root">
</div>

This is from new-application1 ---->

<h3>Default fragement caching</h3>
<div class="container-fluid">
    <table class="table table-bordered table-striped w-50 mx-auto mt-5">
        <thead>
            <tr>
                <th>ID</th>
                <th>Page</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><%= link_to 'Cache', cache_index_url %></td>
            </tr>
        </tbody>
    </table>
<div>

<br />