<div id="<%= dom_id song %>">
  <p>
    <strong>Name:</strong>
    <%= song.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= song.type %>
  </p>

  <p>
    <strong>Singer:</strong>
    <%= song.singer %>
  </p>

</div>
